.input_container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    width: 100%;
    margin: 8px 0;
    padding: 15px 15px;
    border-radius: 8px;
    color: gray;
  }
}
