.login-form {
  width: 50%;
  padding: 10px;
  .question {
    display: flex;
    justify-content: right;
    margin-bottom: 25px;

    .register {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section {
      width: 90%;
      padding: 0px 10px;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          margin: 10px 0px;
        }
        p {
          margin-top: 0;
        }
      }

      .input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .recovery-password {
          width: 100%;
          text-align: right;
          margin-bottom: 20px;

          .recovery-link {
            text-decoration: none;
            border: none;
            background-color: inherit;
            padding: 3px 0px 15px 5px;
            font-size: 13px;
            color: #7d7c8b;
            text-align: right;
            cursor: pointer;

            &:hover {
              text-decoration-line: underline;
              transition: 0.1s;
            }
          }
        }
      }

      .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tittle-continue {
          width: 100%;
          margin: 20px auto;
          display: flex;
          justify-content: center;

          .line {
            width: 80%;
            position: relative;
            text-align: center;
            font-size: 15px;
            background-color: inherit;

            .inner {
              z-index: 1;
              position: relative;
              background-image: linear-gradient(
                to right top,
                #dadfe7,
                #dbe1ea,
                #dbe2ec,
                #dce4ef,
                #dde5f2
              );
              padding: 0px 10px;
            }
            &::before {
              content: ' ';
              width: 100%;
              height: 1px;
              background: white;
              display: block;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
    }
  }
}
