// .listpage {
//   margin: 10px;
//   padding: 20px;
//   background-color: #091113;

//   .addbtn {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;

//     .botton {
//       padding: 5px 25px;
//       margin-bottom: 10px;
//       border-radius: 10px;
//       background: transparent;
//       color: aliceblue;
//       border: 5px solid #3d4445;
//       font-size: 30px;
//       font-weight: bolder;
//       cursor: pointer;
//       &:hover {
//         background-color: white;
//         font-size: 35px;
//         transform: scale(1.2);
//         transition: all 0.5s;
//         color: #091113;
//       }
//     }
//   }
//   .list {
//     padding: 0;
//     .listitem {
//       padding: 40px 20px;
//       margin: 10px 0;
//       list-style: none;
//       background-color: #3d4445;
//       border-radius: 20px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//     }
//     p {
//       margin: 0;
//       font-size: 50px;
//       color: beige;
//       font-family: Arial, Helvetica, sans-serif;
//     }
//   }
// }

.listpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .addbtn,
  .backwardbtn {
    display: flex;
    justify-content: center;
  }
}
