.button {
  border: 1px solid white;
  width: 60px;
  height: 38px;
  margin: 2px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    background-color: white;
    font-size: 1em;
    transform: scale(1.2);
    transition: all 0.5s;
  }
}
