.sign-up-form {
  width: 50%;
  padding: 10px;
  order: -1;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section {
      width: 90%;
      padding: 0px 10px;

      h2,
      p {
        text-align: center;
      }

      .input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .link {
          width: 100%;
          text-decoration: none;
        }
      }

      .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .question {
          margin-right: 10px;
          margin-bottom: 30px;
          padding-top: 0;
          text-align: right;
          font-size: 12px;
        }

        .question a {
          text-decoration: none;
          color: rgb(85, 85, 250);
          margin: 20px 5px;
        }
        .question a:hover {
          text-decoration-line: underline;
          transition: 0.1s;
        }

        #question {
          text-align: center;
        }
      }
    }
  }
}
