@font-face {
  font-family: 'mulish';
  src: url('./assets/fonts/Mulish/Mulish-VariableFont_wght.ttf');
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "mulish";  
  
}
.login-page::after{
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url("./assets/5591276.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   filter: blur(5px);
  position: absolute;
  z-index: 0;
}

.container {
  width: 700px;
  height: 550px;
  padding: 5px 0px;
  font-family: "mulish";
  border: 2px solid white;
  border-radius: 35px;
  background-image: linear-gradient(
    to right top,
    #dadfe7,
    #dbe1ea,
    #dbe2ec,
    #dce4ef,
    #dde5f2
  );
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}


.image-box {
  width: 50%;
  height: 100%;
  margin: 5px;
  padding: 0px 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 30px;
  background-image: url("./pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute;
  z-index: 2;
  right: 0;
  transition: 0.2s; */

}

.login-form {
  width: 50%;
  padding: 10px;
  /* display: none; */
}
.sign-up-form{
  width: 50%;
  padding: 10px;
  order: -1;
  display: none;

}

.question {
  margin-right: 10px;
  margin-bottom: 30px;
  padding-top: 0;
  text-align: right;
  font-size: 12px;
}

.question a {
  text-decoration: none;
  color: rgb(85, 85, 250);
  margin: 20px 5px
} 
.question a:hover{
 text-decoration-line: underline;
  transition: 0.1s;
}

#question{
  text-align: center;
}

.section{
  width: 90%;
  padding: 0px 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2,
p {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.btn{
  position: absolute;
  top: 35%;
  right: 10px;
}

.recovery-password {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.recovery-link:hover {
  text-decoration-line: underline;
  transition: 0.1s;
}

.recovery-password a {
  text-decoration: none;
  border: none;
  background-color: inherit;
  padding:3px 0px 15px 5px;
  font-size: 13px;
  color: #7d7c8b;
  text-align: right;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-continue{
  width: 100%;
   margin: 20px auto;
   display: flex;
   justify-content: center;
}

.line {
  width: 80%;
  position: relative;
  text-align: center;
  font-size: 15px;
  background-color: inherit;
}
.line .inner{
z-index: 1;
position: relative;
background-image: linear-gradient( to right top, #dadfe7, #dbe1ea, #dbe2ec, #dce4ef, #dde5f2 );padding:  0px 10px;
/* background-color: inherit; */
}


.line::before {
  content: " ";
  width: 100%;
  height: 1px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
}

/* // landsacape phone + <= 768  */
@media only screen and (max-width: 768px) {
  .container {
    width: 400px;
    justify-content: center;
  }

  .image-box {
    display: none;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .form {
    order: 1;
  }
  .question {
    order: 2;
  }
}

/* //  phone + <= 576  */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
