html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right top,
    #c28fac,
    #bf92b8,
    #b896c4,
    #ae9ad0,
    #a0a0db,
    #92a9e4,
    #83b2ea,
    #74baed,
    #6fc6ed,
    #74d2ea,
    #82dce5,
    #95e5e0
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 700px;
  height: 550px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
  border-radius: 35px;
  background-image: linear-gradient(
    to right top,
    #dadfe7,
    #dbe1ea,
    #dbe2ec,
    #dce4ef,
    #dde5f2
  );
  display: flex;
  align-items: center;
}

.image-box {
  width: 50%;
  height: 98%;
  margin: 5px;
  padding: 0px 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 30px;
  background-image: url("./pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  width: 50%;
  margin: 10px;
}

.question {
  margin-right: 10px;
  margin-bottom: 30px;
  padding-top: 0;
}

.question p {
  text-align: right;
  font-size: 12px;
}

.question a {
  text-decoration: none;
  color: rgb(85, 85, 250);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2,
p {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

input {
  border: none;
  width: 67%;
  margin: 8px 0;
  padding: 15px 15px;
  border-radius: 8px;
  color: gray;
}
.password-container {
  width: 76%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password {
  width: 100%;
}
.eye_slash {
  position: absolute;
  right: 15px;
}

.eye_slash:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
  cursor: pointer;
}

.recovery-password {
  width: 75%;
}
.recovery-password:hover {
  text-decoration-line: underline;
  transition: 0.1s;
}

.recovery-password a {
  text-decoration: none;
  padding: 3px 0px 15px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  color: #7d7c8b;
}

.submit {
  width: 76%;
  background-color: #ea5143;
  color: white;
  box-shadow: 0 10px 25px -4px rgb(240, 167, 167);
  opacity: 0.9;
  cursor: pointer;
}
.submit:active {
  color: yellow;
  text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.65);
}

.submit:hover {
  opacity: 1;
  font-size: 1em;
  transform: scale(1);
  transition: 0.2s ease-out;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-size: 15px;
}

.line::before {
  content: " ";
  height: 1px;
  width: 50px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 120px;
}

.line:after {
  content: " ";
  height: 1px;
  width: 50px;
  background: white;
  position: absolute;
  top: 50%;
  right: 120px;
}

.icon {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmail,
.apple-id,
.facebook {
  border: 1px solid white;
  width: 60px;
  height: 38px;
  margin: 2px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.gmail:hover,
.apple-id:hover,
.facebook:hover {
  background-color: white;
  font-size: 1em;
  transform: scale(1.2);
  transition: all 0.5s;
}

/* // landsacape phone + <= 768  */

@media only screen and (max-width: 768px) {
  .container {
    width: 400px;
    justify-content: center;
  }

  .image-box {
    display: none;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .form {
    order: 1;
  }
  .question {
    order: 2;
  }
}

/* //  phone + <= 576  */

@media only screen and (max-width: 576px) {
  .container {
    width: 250px;
  }
}
